name: Analyze
on:
  push:
    branches: [ master, next ]
  pull_request:
    branches: next
  schedule:
    - cron: '38 22 * * 6'

jobs:
  codeql:
    name: CodeQL
    runs-on: ubuntu-latest
    permissions:
      actions: read
      contents: read
      security-events: write
    strategy:
      fail-fast: false
      matrix:
        language: [ 'javascript' ]
    steps:
    - uses: actions/checkout@v3
    - uses: github/codeql-action/init@v2
      with:
        languages: ${{ matrix.language }}
    - uses: github/codeql-action/autobuild@v2
    - uses: github/codeql-action/analyze@v2
  commitlint:
    name: CommitLint
    if: contains(fromJson('["push", "pull_request"]'), github.event_name)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v5
        with:
          configFile: '.github/commitlint.config.cjs'
  eslint:
    name: ESLint
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: '16.9.1'
      - run: yarn install
      - uses: reviewdog/action-eslint@v1
        with:
          reporter: github-pr-review
