name: "General Automation"
on:
  push:
    branches: [ master, next ]
  pull_request_target:
    branches: next

permissions:
  pull-requests: write
  issues: write
  contents: write

jobs:
  approve-pr-dependabot:
    name: Approve PR (dependabot)
    if: github.event_name == 'pull_request_target' && github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - id: metadata
        uses: dependabot/fetch-metadata@v1.1.1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - if: steps.metadata.outputs.update-type != 'version-update:semver-major'
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.PUSH_TO_PROTECTED_BRANCH }}
  semantic-release:
    name: Semantic Release
    if: github.event_name == 'push' && github.repository_owner == 'ZPTXDev'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.PUSH_TO_PROTECTED_BRANCH }}
      - uses: cycjimmy/semantic-release-action@v2
        with:
          branches: |
            [
              'master',
              {name: 'next', prerelease: true},
            ]
          extra_plugins: |
            @semantic-release/git
            semantic-release-github-milestones
        env:
          GITHUB_TOKEN: ${{ secrets.PUSH_TO_PROTECTED_BRANCH }}
