name: Automate
on:
  push:
    branches: [ master, next ]
  pull_request:
    branches: next
  pull_request_target:
    branches: next
  issues:
    types: [opened, edited]

permissions:
  pull-requests: write
  issues: write
  contents: write

jobs:
  commitlint:
    name: lint / CommitLint
    if: github.actor != 'dependabot[bot]' && contains(fromJson('["push", "pull_request"]'), github.event_name)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v4
  eslint:
    name: lint / ESLint
    if: github.actor != 'dependabot[bot]' && github.event_name == 'pull_request'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: '16.9.1'
      - run: yarn install
      - uses: reviewdog/action-eslint@v1
        with:
          reporter: github-pr-review
  labeler:
    name: issues+pr / Assign Labels
    if: github.actor != 'dependabot[bot]' && contains(fromJson('["issues", "pull_request_target"]'), github.event_name) && contains(fromJson('["opened", "edited"]'), github.event.action)
    runs-on: ubuntu-latest
    steps:
      - uses: ZPTXDev/issue-labeler@master
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler.yml
          enable-versioned-regex: 0
          include-title: 1
  request-review:
    name: pr / Request Review
    if: github.event_name == 'pull_request_target' && contains(fromJson('["opened", "ready_for_review", "reopened"]'), github.event.action)
    runs-on: ubuntu-latest
    steps:
      - uses: necojackarc/auto-request-review@v0.7.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
  auto-merge:
    name: pr / Auto Merge
    if: github.event_name == 'pull_request_target'
    runs-on: ubuntu-latest
    steps:
      - id: metadata
        if: steps.metadata.outputs.update-type != 'version-update:semver-major' && github.actor == 'dependabot[bot]'
        uses: dependabot/fetch-metadata@v1.1.1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - if: steps.metadata.outputs.update-type != 'version-update:semver-major' && github.actor == 'dependabot[bot]'
        run: |
             gh pr review --approve "$PR_URL"
             gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.PUSH_TO_PROTECTED_BRANCH }}
      - if: github.actor == 'zapteryx' && contains(github.event.pull_request.requested_teams.*.slug, 'development')
        run: |
            gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.PUSH_TO_PROTECTED_BRANCH }}
  semantic-release:
    name: push / Semantic Release
    needs: commitlint
    if: github.event_name == 'push' && github.repository_owner == 'ZPTXDev'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cycjimmy/semantic-release-action@v2
        with:
          branches: |
            [
              'master',
              {name: 'next', prerelease: true},
            ]
          extra_plugins: |
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.PUSH_TO_PROTECTED_BRANCH }}
