name: Automate
on:
  push:
    branches: [ master, next ]
  pull_request:
    branches: next
  pull_request_target:
    branches: next
  issues:
    types: [opened, edited]

permissions:
  pull-requests: write
  issues: write
  contents: write

jobs:
  labeler:
    name: Assign Labels
    if: github.actor != 'dependabot[bot]' && contains(fromJson('["issues", "pull_request_target"]'), github.event_name) && contains(fromJson('["opened", "edited"]'), github.event.action)
    runs-on: ubuntu-latest
    steps:
      - uses: ZPTXDev/issue-labeler@master
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          configuration-path: .github/labeler.yml
          enable-versioned-regex: 0
          include-title: 1
  auto-merge:
    name: Auto Merge (dependabot)
    if: github.event_name == 'pull_request' && github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    steps:
      - id: metadata
        uses: dependabot/fetch-metadata@v1.1.1
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      - if: steps.metadata.outputs.update-type != 'version-update:semver-major'
        run: |
             gh pr review --approve "$PR_URL"
             gh pr merge --auto --merge "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.PUSH_TO_PROTECTED_BRANCH }}
  semantic-release:
    name: Semantic Release
    if: github.event_name == 'push' && github.repository_owner == 'ZPTXDev'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: cycjimmy/semantic-release-action@v2
        with:
          branches: |
            [
              'master',
              {name: 'next', prerelease: true},
            ]
          extra_plugins: |
            @semantic-release/git
        env:
          GITHUB_TOKEN: ${{ secrets.PUSH_TO_PROTECTED_BRANCH }}
